.about-me-section {
    align-items: center;
    display: flex;
}

.about-me-panel {
    align-items: center;
    background-color: #282828;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.281);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-me-section h1 {
    font-size: clamp(42px, 3vw,50px);
    font-weight: 500;
}

.about-me-section img {
    border-radius: 50vw;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.281);
    height: 400px;
    width: 400px;
}

.about-me {
    padding: 70px 50px;
    width: 50%;
}

.about-me p {
    font-size: 14pt;
    line-height: clamp(25px, 2vw, 30px);;
    margin: 40px 0;
    text-align: justify;
}

.about-me nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
}

.about-me nav button {
    background-color: #dd8e4d;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 150px;

    transition: 250ms;
}

.about-me nav button:hover {
    background-color: #a86c3b;
}

.about-me nav button span {
    font-size: clamp(16px, 1vw, 18px);
}

/* courses-info-section */

.courses-info-section {
    padding: 70px 75px;
}

.courses-info-section h2 {
    font-size: 40px;
    text-align: center;
}

.cards-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.course-card {
    background-color: #282828;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.281);
    cursor: default;
    padding: 20px;
    user-select: none;
    width: 520px;
}

.course-card h3 {
    font-size: 26px;
    margin: 10px 0;
}

.course-card span {
    margin: 10px 0;
}

.course-card span {
    color: #8b8b8b;
    display: block;
}

span.formation {
    color: #dd8e4d;
    margin: 0px 0 25px 0;
}

.courses-info-section nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
}

.courses-info-section nav button {
    background-color: #dd8e4d;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 150px;

    transition: 250ms;
}

.courses-info-section nav button:hover {
    background-color: #a86c3b;
}

.courses-info-section nav button span {
    font-size: clamp(16px, 1vw, 18px);
}

@media screen and (max-width: 575px) {
    .about-me-panel {
        flex-direction: column-reverse;
        padding: 50px 0;
    }

    .about-me-section img {
        height: 300px;
        width: 300px;
    }

    .about-me {
        padding: 50px 20px;
        width: 80%;
    }

    .about-me h1 {
        font-size: 36px;
        text-align: center;
    }

    .about-me p {
        font-size: 18px;
    }

    .about-me nav {
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: start;
    }

    .about-me nav button {
        height: 50px;
        width: 220px;
    }

    .courses-info-section {
        padding: 0 20px;
    }

    .courses-info-section h2 {
        margin-top: 75px;
    }

    .course-card {
        width: auto;
    }

    .courses-info-section nav {
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: start;
    }

    .courses-info-section nav button {
        height: 50px;
        width: 220px;
    }
}