.about-me-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-me-section h1 {
    font-size: 32pt;
    font-weight: 500;
}

.about-me-section img {
    border-radius: 50vw;
    height: 400px;
    width: 400px;
}

.about-me {
    padding: 70px 50px;
    width: 50%;
}

.about-me p {
    font-size: 14pt;
    line-height: clamp(25px, 2vw, 30px);;
    margin: 40px 0;
    text-align: justify;
}

.about-me nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
}

.about-me nav button {
    background-color: #dd8e4d;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 150px;

    transition: 250ms;
}

.about-me nav button:hover {
    background-color: #a86c3b;
}

.about-me nav button span {
    font-size: clamp(16px, 1vw, 18px);
}

@media screen and (max-width: 575px) {
    .about-me-section {
        flex-direction: column-reverse;
        padding: 50px 0;
    }

    .about-me-section img {
        height: 300px;
        width: 300px;
    }

    .about-me {
        width: 80%;
    }

    .about-me h1 {
        font-size: 36px;
        text-align: center;
    }

    .about-me p {
        font-size: 18px;
    }

    .about-me nav {
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: start;
    }

    .about-me nav button {
        height: 50px;
        width: 220px;
    }
}