@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    color: #ffff;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(18,18,18);
    background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(23,23,23,1) 50%, rgba(37,37,37,1) 100%);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

.site-body {
    height: calc(100% - 70px);
    overflow-y: auto;
    width: 100%;

    scrollbar-width: thin;
}

header {
    background-color: #212121;
    display: flex;
    flex-direction: row;
    font-family: Rubik;
    height: 70px;
    justify-content: flex-end;
    padding: 0 60px;
    width: calc(100vw - 120px);
}

.button-menu {
    display: none;
    width: 0px;
}

.menu-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 70px;
    height: 100%;
    list-style: none;
}

.header-nav a {
    text-decoration: none;
    user-select: none;
}

@keyframes menu-fade-in {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}


@media screen and (max-width: 575px) {
    header {
        padding: 0 20px;
        width: calc(100vw - 40px);
    }

    .button-menu {
        align-items: center;
        background-color: #21212100;
        border: none;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        width: calc(50vw - 20px);
    }

    .button-menu span {
        font-size: 18px;
    }

    .button-menu i {
        transition: transform 250ms;
    }

    .button-menu i.active{
        transform: rotate(-90deg);
    }

    .header-nav {
        display: none;
        width: 0px;
    }
    
    .header-nav.active {
        background-color: #212121;
        display: block;
        position: absolute;
        right: 0px;
        top: 69px;
        width: 50vw;
        z-index: 1;

        animation: menu-fade-in 500ms 1 forwards;
    }

    .menu-list {
        flex-direction: column;
        gap: 0px;
    }

    .menu-item {
        align-items: center;
        border-bottom: #292929 1px solid;
        display: flex;
        height: 80px;
        justify-content: center;
        width: 100%;
    }

    .menu-item.contatos {
        border-bottom: none;
    }

    .site-body {
        display: block;
    }
}