.site-body {
    align-items: center;
    display: flex;
}

.about-me-introduction {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    justify-content: center;
    width: 100%;
}

.presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.presentation h1 {
    font-size: clamp(45px, 2.7vw, 50px);
    font-weight: 500;
    text-align: center;
}

.presentation h1 strong {
    color: #dd8e4d;
}

.presentation hr {
    width: clamp(650px, 40vw,720px);
}

.presentation h2 {
    font-size: clamp(35px, 2.7vw, 40px);
    font-weight: 400;
    text-align: center;
}

.presentation p {
    color: #908d96;
    font-size: clamp(18px, 1.5vw, 24px);
    line-height: clamp(35px, 2vw, 40px);
    margin: 30px 0;
    text-align: center;
}

.about-me-introduction nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 50px 0;
    width: 50%;
}

.about-me-introduction nav button {
    background-color: #dd8e4d;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 150px;

    transition: 250ms;
}

.about-me-introduction nav button:hover {
    background-color: #a86c3b;
}

.about-me-introduction nav button span {
    font-size: clamp(16px, 1vw, 18px);
}