.site-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: clamp(42px, 3vw,50px);
    font-weight: 500;
    margin: 60px 0;
    text-align: center;
}

.subtitle {
    font-size: 34px;
    margin: 10px 0;
}

.skills {
    padding: 30px;
}

.cards-area {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 35px 0;
}

.card {
    align-items: center;
    background-color: #282828;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.281);
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 220px;
}

.card img {
    height: auto;
    user-select: none;
    width: 100px;
}

.card svg {
    height: auto;
    width: 100px;
}

.card h3 {
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
}

.card span {
    color: #dd8e4d;
    margin: 5px 0;
}

.card p {
    margin: 5px 0;
    text-align: center;
}

.see-projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 70px;
}

.see-projects p {
    font-size: 24px;
}

.see-projects button {
    background-color: #dd8e4d;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 150px;

    transition: 250ms;
}

.see-projects button:hover {
    background-color: #a86c3b;
}

.see-projects button span {
    font-size: clamp(16px, 1vw, 18px);
}

footer {
    background-color: #212121;
    padding: 20px 25px;
    width: calc(100% - 50px);
}

.icons-link ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.icons-link ul li {
    padding: 0 10px;
}

footer a {
    color: #dd8e4d;
}

@media screen and (max-width: 1366px) {
    .card {
        width: 200px;
    }

    .card img {
        width: 80px;
    }

    .card svg {
        width: 80px;
    }
}

@media screen and (max-width: 992px) {
    .card {
        width: 170px;
    }
}

@media screen and (max-width: 575px) {
    .skills {
        width: calc(100% - 60px);
    }
    
    .cards-area {
        justify-content: center;
        width: auto;
    }
    
    footer {
        padding: 20px 10px;
    }

    .icons-link p {
        text-align: center;
    }

    .icons-link ul {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}